*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

.ftpconfig
s.php
#info.php
cronj.php
#system/*
uploads/*
#assets/*
application/vendor/*
version.md

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/config/database.php
application/logs/*
application/bb_sessions/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
.htaccess
/assets/csv/bbbkp/*
.vscode
.DS_Store
application/.DS_Store
application/views/.DS_Store
application/views/common/.DS_Store
./index.php
application/language/english.json
application/composer.json
kbpdbm.php
kbpdbm567h.php
/assets/csv
uploads/bluedart_ship_token_file_briboo_kb_tok_file.php
